.contact {
  display: flex;
  gap: 12rem;
  .contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px -40px 15px;
    gap: 50px;
    width: 30%;
    padding-top: 100px;
    img {
      width: 250px;
      border-radius: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
  .contact-cover {
    display: flex;
    flex-direction: column;    
    &-product {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
      gap: 20px;
      background: #e8edf0;
      .contact-form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 15px;
        &-group {
          display: flex;
          gap: 25px;
          &-element {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .lb {
              font-size: 15px;
              font-weight: bold;
            }
            .inp {
              padding: 0.375rem 0.75rem;
              border: none;
              width: 100%;
              height: 50px;
            }
            .msg {
              height: 150px;
              width: 411px;
            }
            .sbj {
              width: 411px;
            }
            .btn-form {
              padding: 12px 30px;
              background-color: $orange;
              color: $white;
              border: none;
              font-size: 15px;
              margin-top: 40px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
