.about{
  display: flex;
  gap: 20rem;
  &-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px -40px 15px;
    gap: 50px;
    width: 30%;
    padding-top: 100px;
    img {
      width: 250px;
      border-radius: 100%;
      height: 250px;
      object-fit: cover;
    }
    ul{
      line-height: 40px;
    }
  }
  &-profile{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    &-me {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 23px;
      letter-spacing: 2px;
    .name {
      color: $gray;
      font-size: 32px;
      text-align: center;
    }   
    p {
      text-align: center;
      width: 550px;
      color: $gray;
    }
    .learn {
      padding: 13px 20px;
      border: 1px solid gray;
      border-radius: 8px;
      background: none;
      box-shadow: $shadow;
      text-decoration: none;
      font-size: 15px;
      color: black;
      opacity: 0.7;
    }
  }
  .education {
    display: flex;
    flex-direction: column;
    .school {
      display: flex;
      gap: 20px;
      i {
        padding: 17px 8px;
        background-color: #d63624;
        border-radius: 51%;
        height: 40px;
        width: 40px;
      }
      &-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h4 {
          color: #d63624;
          font-weight: 600;
          font-size: 17px;
        }
        h3{
          font-size: 21px;
        }
        h5 {
          color: $gray;
        }
      }
    }
  }
  }

}